# Python 
__pycache__/ 
*.py[cod] 
*$py.class 
 
# Virtual environments 
ml_env/ 
venv/ 
env/ 
.venv/ 
 
# ML artifacts 
artifacts/ 
catboost_info/ 
*.pkl 
*.model 
*.h5 
 
# Jupyter notebooks 
*.ipynb 
.ipynb_checkpoints/ 
notebook/ 
 
# IDE 
.vscode/ 
.idea/ 
*.swp 
*.swo 
notebook/ 
*.ipynb 
cataboost_info/ 
artifacts/ 
notebook/ 
logs/ 
*.log 
*.egg-info/ 
ml_project.egg-info/ 
mlproject.egg-info/ 
artifacts/ 
notebook/ 
logs/ 
*.log 
*.egg-info/ 
.ebextensions/ 
.ebextensions/ 
